.contactFormContainer .oneWebCntForm, .contactFormContainer .contactFormResponseStatus{font-family:Arial;font-size:13px;}.contactFormContainer .oneWebCntForm, .contactFormContainer .contactFormResponseStatus{color:#000000;}
        @media (max-width: 650px) { body { min-width: 'initial' } body.desktopV { min-width: 1050px } }
        @media (min-width: 651px) { body { min-width: 1050px } body.mobileV { min-width: initial } }
                        .bodyBackground {
                            
background-image:url('/____impro/1/onewebmedia/Background.jpg?etag=%2221426-5ea02773%22&sourceContentType=image%2Fjpeg&quality=80');
background-repeat:no-repeat;
background-position:0% 0%;
background-size:cover;
background-attachment:fixed;
background-image-opacity:1;
                        }