
                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] div.textnormal,
                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] span,
                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] :not(.svgContainer) a {
                        font-size: 14px !important;
                    }

                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] .svgContainer,
                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] .svgContainer a {
                        font-size: 28px !important;
                    }
.mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] .svgContainer { margin-bottom: 11px !important; }

                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] .svgContainer,
                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] .svgContainer a,
                    .mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] .svgContainer svg {
                        width: 28px !important;
                        height: 28px !important;
                    }
.mobileV div[data-id='150EC73D-0B4D-42BF-9612-DB6F0043C7D3'] .prefix { margin-bottom: 0px !important; }


                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] div.textnormal,
                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] span,
                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] :not(.svgContainer) a {
                        font-size: 14px !important;
                    }

                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] .svgContainer,
                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] .svgContainer a {
                        font-size: 28px !important;
                    }
.mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] .svgContainer { margin-bottom: 11px !important; }

                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] .svgContainer,
                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] .svgContainer a,
                    .mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] .svgContainer svg {
                        width: 28px !important;
                        height: 28px !important;
                    }
.mobileV div[data-id='E57D1F2C-9B5F-45E6-8B22-A3BDC107EA57'] .prefix { margin-bottom: 0px !important; }


                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] div.textnormal,
                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] span,
                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] :not(.svgContainer) a {
                        font-size: 14px !important;
                    }

                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] .svgContainer,
                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] .svgContainer a {
                        font-size: 28px !important;
                    }
.mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] .svgContainer { margin-bottom: 11px !important; }

                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] .svgContainer,
                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] .svgContainer a,
                    .mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] .svgContainer svg {
                        width: 28px !important;
                        height: 28px !important;
                    }
.mobileV div[data-id='A1B621BB-E8E2-4964-8BC9-DE1D5EF74CAA'] .prefix { margin-bottom: 0px !important; }


            .mobileV div[data-id='3BFD7269-DF74-4DA6-84B7-7ED51F914DA2'] {
                display: block !important;
            }
        @media (max-width: 650px) { body { min-width: 'initial' } body.desktopV { min-width: 1050px } }
        @media (min-width: 651px) { body { min-width: 1050px } body.mobileV { min-width: initial } }
                        .bodyBackground {
                            
background-image:url('/____impro/1/onewebmedia/01_DJ-Osnabr%C3%BCck-Hochzeit-Events-Verleih_DJ-AT_Ansgar-Tebben/02_Back_DJ-Hochzeit-Osnabr%C3%BCck/01_Back_Hochzeit-Events-Geburtstag-DJ-Osnabr%C3%BCck_DJ-AT_Ansgar-Tebben.jpg?etag=%2221426-5ebd8029%22&sourceContentType=image%2Fjpeg&quality=80');
background-repeat:no-repeat;
background-position:0% 0%;
background-size:contain;
background-attachment:scroll;
background-image-opacity:1;
                        }