/* 
theme: Rosen Mobile
author: Jeffrey van der Heide, TriMM
*/





* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}



body { 
	font: 62.5% 'DIN Next W01 Regular', arial, helvetica, sans-serif; /* font: default 16px to 10px */
	background: #fff;
	color: #000; 
	height: 100%; 
	margin: 0;
	line-height: 1.4em;
	-webkit-text-size-adjust:100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom - http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* hidden & skip link  */
.aural,
#logo strong,
#search-box label,
#search-results .new-search label,
#search-box h6,
#nav-global span em,
#nav li strong em,
#nav-global li.on em,
#nav-box li.on em,
#nav-global h6,
#nav-box li h3 em,
#nav h6,
#extras h6,
em.more span,
#promos .more,
.pager li em,
.pager h3,
#search-results .form-wrapper label span,
#main .vcard div h3,
#extras .vcard div h3,
#glossary-index h3,
.day span,
form div label em,
#nav-content strong em,
p#copyright-magnolia span,
#event-pager h5,
div.superpromos .superpromo-section p.more a span,
.vcard .type {      
	display: block;  
    position: absolute;
    overflow: hidden;
	left: -9999px;
    width: 1px;
    height: 1px;
}
/* display: none */
.a11y-wrapper,
#breadcrumb {
	display: none;	
}

#home .page-header {
	display: none;
}




/* Links */
a {
	text-decoration: none;
	color: #000;
}
a img {
	border: 0;
}
em.more {
	display: none;
	/*background: url(../img/icons/mobile-sprites.png) 0 5px no-repeat;
	padding: 0 0 0 14px;
	font-style: normal;
	font-weight: bold;*/
}

 

/* Images */
#stage img,
.promo img,
img.media,
.media img,
.teaser img,
.company .company-photo img
img {
	width: 100% !important;
	max-width: 100% !important; 	
	height: auto;
}

.company dt {
	width: 100%;
	font-weight: bold;
}

/* Headings */
h1, 
h2,
h3 {
	margin: 10px 0;
}

h1 {
	font-size: 26px;
}
h2 {
	font-size: 22px;
}
h3, 
h4,
h5 {
	font-size: 18px;
}
h1 em, 
h2 em,
h3 em {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}


p.skip {
	position: absolute;
	top: 15px;
	right: 13px;
	margin: 0;
	padding: 0;
}
.skip a {
	display: block;
	font-size: 14px;

} 

/* Branding */
#branding,
#site-info {
	background: #fff;
	color: #000;
}
#branding {
	padding-top: 20px;
}
/* Search */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
#search-box {
	position: relative;
	margin: 10px 0 10px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 25px 0 0;
}
#search-box,
#search-box div {
	background: #fff;
}
#search-box input {
	width: 100%;
}

#search-box input.button {
	margin: 0;
	border: none;
	height: 20px;
	width: 20px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	text-indent: -99999px;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 2px;
}


#wrapper-2  {
	clear: both;
}



/* Meta Navigation */

#nav-meta {
	display: none;
}

#nav-meta ul {
	overflow: hidden;
}
#nav-meta li {
	float: right;
	list-style: none;
	margin: 5px 0 5px 5px;
	padding: 2px 5px;
}
#nav-meta li a {
	color: #fff;
	font-size: 16px;
}
/* Teasers and other Content Elements */
.teaser img,
.opener img,
.superpromo-section img {
	width: 100%;
	height: auto;
}
.vcard div {
	margin: 0 0 10px 0;
	clear:both;	
}

.vcard div dt {
	width:5em;
	float:left;
	font-weight:bold;
}


.vcard .org{
	width:70%;
	clear:none;
	float:right;
	padding-left:10px;
	margin-bottom:10px;
	
}

.vcard .organization-name {
	font-weight:bold;
	font-size: 110%;
	line-height:1em;
	  
}

.vcard .photo {
	float:left;
	max-width:30%;
	margin-bottom:10px;
}

.vcard .photo img {
	width:100%;
}

.vcard .media.photo dd{
width:100%;
}




/* Linkslists */
.links h3 {
	margin-top: 10px;	
}
#toc ul,
.links ul {
	margin: 0;	
}
#toc li,
.links li,
.latest-comments li {
	list-style: none;
	margin: 0 -8px;
	padding: 8px 0;	
}
#toc li:last-child,
.links li:last-child,
.latest-comments li:last-child {
}

.links .download em {
	display: block;
	margin-top: -5px;
	font-style: normal;
	font-size: 13px;
	color: #999;
}
.latest-comments li em {
	display: block;
	font-style: normal;
	font-weight: bold;
}
#comments h2 em {
	display: inline;
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
}
.comment-count {
	display: none;	
}
/* Latest */
.latest li {
	list-style: none;
	margin: 0 -8px;
	/*border-bottom: 1px solid #9f9f9f;*/
	padding: 8px;
}
p.all {
	margin: 10px 0 0 0;
}
/* Event List */
.event-list li {
	margin: 0 -8px;
	/*border-bottom: 1px solid #9f9f9f;*/
	padding: 8px;
	list-style: none;
}
.event-list li h3 {
	margin: 5px 0;
}
.event-data li {
	list-style: disc inside;
	border-bottom: none;
	padding: 2px 8px;
	font-size: 16px;
	line-height: 16px;
}


/* Glossary */
#glossary-index li {	
	float: left;
	list-style: none;
	width:1.9em;
	text-align:center;
}
.glossary-box {	
	clear: both;
	display: block;
}
.glossary-box ul {	
	padding-left: 20px;
}


/* tagcloud */
.tagcloud ul {
	overflow: hidden;
	text-align: center;
}
.tagcloud li {
	list-style: none;
	display: inline-block;
	margin: 0 3px;
}
.tagcloud li.level-1 a {
	font-size: 15px;
}
.tagcloud li.level-2 a {
	font-size: 17px;
	font-weight: bold;
}
.tagcloud li.level-3 a {
	font-size: 20px;
}
.tagcloud li.level-4 a {
	font-size: 21px;
	font-weight: bold;
	font-style: normal;
}
.tagcloud li.level-5 a {
	font-size: 23px;
	font-weight: bold;
}


/* Text */

.text-meta {
	margin: 12px 0 0 0;
	border-top: 1px solid #d9d9d9;	
	padding: 8px 0 0 0;
	font-size: 14px;
}
.text-meta:after{
	content: "";
	clear: both;
	display: block;
}
.text-data li {
	list-style: none;	
}
.text-data li {
	float: left;
	margin: 0 10px 0 0;
}
#text-features,
.media dd.zoom {
	display: none;	
}
.text-meta dt {
	display: none;
}
.text-meta li,
.text-meta dd {
	float: left;
	display: block;
	margin: 0 10px 5px 0;
	padding: 2px 0;
}
.text-meta dd {
	margin-right: 5px;
}
/* tags &  comments */
.text-meta dd a,
.text-meta li.text-comments {
	float: left;
	display: block;
	padding: 2px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;	
	border-radius: 8px;	
	border: 1px solid #d9d9d9;	
	color: #555;
}
.text-comments {
	background: #f1d500;
}
.text-meta + p {
	clear: both;
}

.text p,
.text .links,
.text #toc {
	margin: 10px 0 10px 0;
}



/* lists in article and also list of search results */
.text ul {
	padding: 0 0 10px 18px;	
}
.text ol {
	padding: 0 0 10px 25px;	
}
.text ul ul,
.text ol ol {
	padding-bottom: 0;
}
ul.text-data,
ul#text-features,
.text .links ul {
}
.text .media {
	margin: 10px 0;	
	max-width: 100% !important;
}
.popup-wrap, div.media {
	width: 100%;
}
.popup-wrap .indicator {
	bottom: 15px;
	pointer-events: none;
} 
.compact dt {
	font-weight: bold;	
}
.compact dd {
	padding-left: 20px;
}
#toc ul {
	padding: 0 0 10px 0;	
}
#toc li {
	list-style: none;
}
#toc a {
	background: url(../img/icons/mobile-sprites.png) 0 -143px no-repeat;
	padding-left: 15px;
}
.highlight-this {
	overflow: hidden;
}
.photo .caption,
.photo .copyright,
.photo .longdesc {
	font-size: 14px;
	line-height: 1.2em;	
}
.text-box-compact dt {
	margin: 10px 0 0 0;
	font-weight: bold;	
}

.text-box-compact dd {
	background-color:#FFF;
	padding:5px;	
}

.text-box-compact{
background-color:#F0F0F0;
margin-bottom:20px;
padding:5px;
}





/* Footer */
#site-info ul {
	margin: 10px 0;

}
#site-info-box > div {
	background: url("../img/bgs/dotted-line.png") repeat-x top;
	padding: 20px 0;
}
#site-info-box div.footer-sep {
display: none;
}
#site-info ul li {
	list-style: none;
	padding: 8px;
}
#site-info ul li a {
	display: inline;
}

#site-info div #about .media {
	float: left;
    height: auto;
    margin: 3px 10px 0 0;
    width: 65px;
}


/* Promos */
#promos {
	overflow: hidden;
	padding: 0 8px;
}

/* Paging */
.pager {
	clear: both;
	overflow: hidden;
	padding: 10px 0 0 0;
}
.pager li {
	float: left;
	margin: 0 5px 5px 0;
	list-style: none;
}


/* Forms */
.required {
	margin: 10px 5px;
}
.form-wrapper input,
.form-wrapper textarea {
	padding: 5px;
	width: 100%;	
}

.form-wrapper fieldset fieldset {
	border: none;
	padding: 0;
}
.form-wrapper div {
	margin: 0 0 10px 0;	
}
.form-wrapper label {
	display: block;
}
.form-wrapper .form-item {
	display: block;
	clear: both;
}
.form-wrapper .form-item label {
	display: inline;
	float: left;
	width: 300px;
}
.form-wrapper .form-item input {
	float: left;
	padding: 0 3px 0 0;
}
.form-wrapper div span {
	display: block;
}


/* JavaScript Modules */
/* Tabs */
.text-box-tabs .text-box-section h2,
.toc-box .toc-box-section h2 {
	margin: 5px 0;
}

/* Caroussels */
.teaser-wrapper {
	margin: 0 auto 20px auto;
	position: relative;
	border: 0;
	clear: both;
	height: auto;
	padding: 0 5px;
	width: 100%;
}
.touch div.teaser-wrapper  .pager,
.teaser-wrapper .pager {
	display: none;
	width: auto;
	margin: 0;
}
.js .teaser-wrapper .pager {
	display: block;
	padding: 0;
}
.teaser-wrapper .next,
.teaser-wrapper .prev {
	position: absolute;
	top: 35px;
	right: 0;
	width: 19px;
	height: 113px;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 43%, #f1f1f1 50%, #EAEAEA 51%, #f6f6f6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(43%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#EAEAEA), color-stop(100%,#f6f6f6)); /* webkit */	
	border: 1px solid #9F9F9F;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	list-style: none;
	-webkit-box-shadow: 0px 2px 1px #999;
	-moz-box-shadow: 0px 2px 1px #999;
	box-shadow: 0px 2px 1px #999;
}
.teaser-wrapper .prev {
	left: 0;
	right: auto;
}
.teaser-wrapper .pager span {
	display: block;
	width: 19px;
	height: 113px;
	opacity: 0.3;
	background-image: url(../img/icons/arrow-mobile.png);
	background-position: 5px 50%;
	background-repeat: no-repeat; 
}
.teaser-wrapper .prev span {
	background-image: url(../img/icons/arrow-mobile2.png);
	background-position: 3px 50%;
}
.teaser-wrapper span.show {
	opacity: 1;
	cursor: pointer;
}
.teaser-wrapper .rack {
	width: auto;
	margin: 0;
	padding-left: 0;
} 
.js .teaser-wrapper .rack {
	overflow: hidden;
	height: auto;
	margin-left: 19px;
	margin-right: 19px;
	padding-left: 0;
}
.touch .teaser-wrapper .rack {
	margin-left: 0;
	margin-right: 0;
}
.js .tw-paging .rack {
	margin-right: 0;
	margin-left: 0;
}
.teaser-wrapper .rack-teaser {
	overflow: hidden;
	float: left;
	width: 310px;
	height: auto;
	margin: 0 15px 0 0;
	padding: 10px;
}
#stage .teaser-wrapper .rack-teaser {
	width: 280px;
}
.teaser-wrapper .rack-teaser:last-child {
	margin-right: 0;
}
@media only screen and (min-width : 470px) { /* Landscape */
.teaser-wrapper .rack-teaser {
	width: 470px;
}
#stage .teaser-wrapper .rack-teaser {
	width: 442px;
}
}
.teaser-wrapper .rack-teaser img {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	margin: 0 0 5px 0;
	border: none;
}
.teaser-wrapper .rack-teaser p {
	font-size: 16px;
	line-height: 18px;
}
.teaser-wrapper .rack-teaser p em.more {
	margin-top: 5px;
}
/* TW-Images */

.js .tw-images .rack {
	height: 113px;
}
.tw-images .rack-teaser {
	width: auto;
	height: 113px;
	margin: 0;
	padding: 0;
}
.tw-images .rack-teaser img {
	width: auto;
	height: 112px;
	margin: 0;
}

/*aufheben*/
@media only screen and (min-width : 321px) { /* Landscape */

}
/* TW-Slider */
.tw-slider span.prev,
.tw-slider span.next,
.slider {
	display: none;	
}



/* pagination for all sliders */

.viewport-pagination {
	overflow: hidden;
	zoom: 1;
	clear: both;
	margin: 10px 0;
}

.viewport-pagination ul {
	display: block;
	text-align: center;
	list-style: none;
}
.viewport-pagination li {
	display: inline;
	list-style: none;
	cursor: pointer;
}
.viewport-pagination li.on {
	cursor: default;
}
.viewport-pagination button {
	margin: 0 5px;
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #999;
	border-radius: 50%;
	text-indent: -9999px;
	-webkit-appearance: none;
	cursor: pointer;
	background: #ccc;
	
	
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}
.viewport-pagination .on button {
	cursor: default;
	background: #fff;
}
.viewport-pagination button span {
	display: block;
	margin: 1px;
	width: 6px;
	height: 6px;
	text-indent: -9999px;
	border-radius: 50%;
	
}

/* SEARCH RESULTS 
----------------- */

#search-results h1 em {
	display: inline;
	font-size: inherit;
	font-weight: bold;
}

#search-results .text ol {
	padding: 0;
	list-style: none;	
}
#search-results .text ol li {
	margin-top: 30px;
	margin-bottom: 30px;
}
#search-results .text ol li li {
	margin-top: 0;
	margin-bottom: 0;
}
.pager {
	margin: 10px 5px;
}


#main .super-list li h3 a {
	display: block;
	background: transparent url(../img/icons/mobile-sprites.png) no-repeat scroll 5px 10px;
	padding: 5px 0 2px 25px;
	font-weight: bold;
	cursor: pointer;
}

#main .super-list li h3 a.js-selected {
	background-color: #f2f2bf;
	background-position: 4px -136px;
}



.photo-index .photo img {
	width:100%;

}

.all a {
	/*display: block;
	background: transparent url(../img/icons/mobile-sprites.png) no-repeat scroll 5px 7px;
	padding: 2px 0 5px 25px;*/
}






#main .text p {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}




.vevent dt{
	margin: 10px 0 0 0;
	font-weight: bold;	
}

.vevent dd {
	padding:5px;	
}

.vevent {
background-color:#F0F0F0;
padding: 10px;
}
 






/* Tabkrams */

.text-box-section{

}

.text-box-tabs{
background-color:#F0F0F0;
padding:0px;
margin:10px 0px 10px 0px;
}


.text-box-toc li{
width:100%;

list-style-type:none;

}

.text-box-toc li a{
display:block;
margin:0px;
}

.text-box-section-group .text-box-section{

}

ol.text-box-toc{
	
	padding:0px;  
}


.text-box-toc li a.js-selected, .text-box-toc li a.a11y-focus, .text-box-toc li a:active, .text-box-toc li a:focus {
    color: #000000;

}

/*
#sitemap .links li li a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../img/icons/mobile-sprites.png");
    background-origin: padding-box;
    background-position: 30px 7px;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 45px;
}

#sitemap .links li li li a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../img/icons/mobile-sprites.png");
    background-origin: padding-box;
    background-position: 60px 7px;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 75px;
}



#sitemap .links li {
 
    background-image: url("../img/bgs/dotted-line.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    background-origin: padding-box;
    border-style:none;
    margin:0px;
    padding:0px;
}
*/

em.more a {
	padding-left: 0;
	background: none;
}
#home #wrapper-3 {
	width: 100%;
}

#home #main {
	width: auto;
}
#home #extras {
	position: static;
	top: 0;
	width: auto;
	float: none;
	margin: 0;
}


#wrapper {
	width: 286px;
	margin: 0 auto;
}

#branding {  
	position: static;
	margin: 0;
	width: auto;
}
#nav-global {     
	width: auto;
}
#nav-global select {
	width: 100%;
}
#section-header {
	width: auto;
}
#stage {

	width: auto;
}  
#wrapper-2 { 

  	margin: 20px auto;
	width: auto;
}
#nav {      
 	width: 100%;
}

#wrapper-3 {
	float: left;
	margin: 0;
	width: auto;
	max-width: 100%;
} 
#map {
	margin: 0 0 20px 0;
	width: auto;
}
#main {
	float: none;
	margin: 0; 
	width: auto;
}
#article #promos {
	float: none;
	margin: 0;
	width: auto; 
}

#extras {
	float: none;
	width: auto;
}


#site-info div, #site-info-box {
	width: auto;
}


.col-subcol-equal #main,
.col-subcol-equal #extras {
	width: auto;
}

/* 2 column layout: nav vertical and big main column with 2 floating teasers: nav | main */
.nav-col-float2 #wrapper-3,
.nav-col-float2 #main {
	width: auto;
}
col-subcol-subcol #main,
.col-subcol-subcol #extras {
	width: auto;
}
.col-subcol-subcol #extras-1,
.col-subcol-subcol #extras-2 {
	width: auto;
}
.col-float2-subcol #main {
	width: auto;
}

.kicker {
	line-height: 1em; 
	width: auto;
	margin: 0;
	position: static;

}


/* BRANDING / HEAD
------------------ */ 
#branding {  
	height: auto;
	color: #fff;
} 

#branding-box {
	height: auto;
	position: static;
	width: auto;
}
#logo {	
	float: none;
	position: static;
	width: auto;
	z-index: 9;
}


  
#nav-meta {
	top: 10px;
	right: -10px;
}    
#main .teaser h2 {
	float: none;
	width: auto;
}

.teaser img {
	float: none;   
	margin: 0;
}

.col-subcol #main .teaser h2 {
	width: auto;
} 
#home .latest li p { 
	width: auto; 
	float: none;
}
.latest h3 {
	width: auto;
}
.latest li p {
	margin-top:30px;
	float: none;
	width: auto;
}

/* other layouts */
.col-subcol-subcol #main .latest h3 {
	width: auto;
}
.nav-col-float2 #main .latest h3 {
	width: auto;
}
.nav-col #main .latest h3 {
	width: auto;
}
.col-subcol #main .latest h3 {
	width: auto;
}
.col-float2 #main .latest h3 {
	width: auto;
}
.col-float2 #main .latest h3 {
	width: auto;
}
.col-float3 #main .latest h3 {
	width: auto;
}
.col-float3 .latest img {
	float: none;  
	width: auto; 
}


#main .event-list ul {
	height: 30px;
}
/* Event Detail */
.vevent {
	padding: 10px;
}

.page-header {
	height: auto;
}
.page-header h1, .page-header #fake-h1 {
	height: auto;
	margin: 0;
	position: static;
	bottom: auto;
}
.page-header .kicker {
	bottom: 0;
	margin: 0;
	height: auto;
	position: static;
}
#item-sidebar {      
	float: none;
	margin: 0;          
	width: auto;
}

.item-sidebar-sep {
	position: static;
}

#nav-box {
	/*background: url(../img/bgs/nav.png) 100% 100% no-repeat;*/
	padding: 0 10px 10px 10px;
}



/* SIDEBAR right: #EXTRAS 
------------------------- */ 
.box {
	padding: 0;
} 
/* events */
#extras .event-list {
	margin: 0 auto 10px auto;
	max-width: 284px;
	padding: 0;
}
#extras .event-list li {
	float: none;
	padding: 0;
	width:100%;
	height: 65px;
}

#extras .event-list .event-data {
	border: none;
}

/* contact */
#home #extras .vcard,
#extras .vcard {
	float: none;
	clear: none;
	width: 284px;
	height: 110px;
	background: transparent url(../img/rosen/we-help-you.png) no-repeat  0 0;
	
}
#extras .simple-link h2 {
	width: 284px;
	margin: 0 auto;	
}
  
/* PROMOS 
------------ */
.promo {       
	float: none;
	margin: 20px auto;
}
.promo-text {
	width: 218px;
}
.promo img {
	width: 220px;
}
#site-info div div {
	width: 100%;
	padding: 20px; 
}  



/* TEXT / ARTICLE
----------------- */
#main .text,
#main .text-section {
	text-align: justify;
}
#main p {
	text-align: justify;
}

.text ul,
.text ol {
	margin: 0 0 8px 10px;
	padding: 0 0 2px 5px; 
}

.text li {
	line-height: 1.5em;

}

#stage div.tw-paging .rack-teaser {
	padding: 0 5px 0 0;
}


/* ROSEN SPECIFICS */
.imageslider-wrapper {
	height:  186px;
	width: 285px;
}

#extras .blue-box a.simple-link-link {
	background: url(../img/rosen/side-bar-bg-wide.png) no-repeat;
	height: 100%;
	display: block;
	padding: 0 0 0 20px;
	background-position: 0 0;
}
#extras .blue-box h2 {
	padding-top: 0;
}
#home .quickentrance {
	margin-bottom: 30px;
}
#home .quickentrance a {
	width: 285px;
	margin: 0 auto;	
	float: none;
	background: transparent url(../img/rosen/side-bar-bg-wide.png) no-repeat 0 -1px;
	height: 52px;	
	padding: 0 20px;
	float: left;
}
.quickentrance a {
	padding: 0px 20px;
	height: 52px;	
	background: transparent url(../img/rosen/side-bar-bg-wide.png) no-repeat 0 -1px;
	width: 285px; 
	float: left;
}
#home .quickentrance a:hover {
	background-position: 0 -115px;
}
.imageslider img {
	width: 285px;
	height: auto;	
}


#wrapper-3 #solution-result-wrapper {
	width: auto;
}

#solution-scout {
	height: auto;
}

#solution-scout .scout-column { 
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iI2RiZGJlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2U1ZTVmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #dbdbe6 7%, #ffffff 24%, #ffffff 54%, #e5e5f0 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#dbdbe6), color-stop(24%,#ffffff), color-stop(54%,#ffffff), color-stop(98%,#e5e5f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbdbe6 7%,#ffffff 24%,#ffffff 54%,#e5e5f0 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbdbe6 7%,#ffffff 24%,#ffffff 54%,#e5e5f0 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbdbe6 7%,#ffffff 24%,#ffffff 54%,#e5e5f0 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbdbe6 7%,#ffffff 24%,#ffffff 54%,#e5e5f0 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbe6', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
#solution-scout ul {
	width: auto;
}
#solution-scout h3 {
	border-top: 1px solid rgba(0,0,0,0.1);
	cursor: pointer; 
}


#solution-scout ul li {
	width: auto;
}

#solution-scout ul li label {
	width: auto;
}
.oldie #solution-scout ul li label {
	width: auto;
}

#solution-scout ul li.selected {
	background-position: 250px center;
}
#solution-scout ul li.selected:hover {
	background-position: 250px center; 
}
#solution-scout ul li.disabled.selected {
	background-position: 250px center;   
} 
#solution-scout ul li.disabled.selected:hover {
	background-position: 250px center;
}




#solution-scout .scout-column {
	float: none;
	width: 100%;
}


#solution-result-wrapper ul li .wrapper {
	overflow: hidden; 
	height: auto;
	padding: 10px;
	position: relative;
}

#solution-result-wrapper ul li .wrapper img, 
#solution-result-wrapper ul li .wrapper .noImage  { 
	height: auto;
	width: 266px;
	width: 100%;	
	clear: both;
	float: none;
	margin: 0 auto 10px auto;
	display: block;
}
#solutionscout #extras {
	margin: 0;
}
.page-header > * {
	margin-top: 5px;
}
/* Solution scout page specifics */

#singlecol-sidebar #main, #search-results #main {
	width: auto;
}
#singlecol-sidebar #wrapper-3, #search-results #wrapper-3 {
	width: auto;
	max-width: 100%;
}
#search-results .form-wrapper input#search {
	width: 134px;
}

#article .promo:nth-child(2n) { 
	margin: 20px auto;
}
#article .promo.nth-child-2n {
	margin: 20px auto;
}

#singlecol-sidebar .promo:nth-child(3n) { 
	margin: 20px auto;
}
#singlecol-sidebar .promo.nth-child-3n {
	margin: 20px auto;
}


.explanation .line-left-vertical {
	display: none;
}
.explanation .line-top-horizontal {
	display: none;
}


.explain #scout_explanation .explanation {
	padding: 10px;
	background: #000000;
	background: rgba(0,0,0,0.75);
	color: #ffffff;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
	position: relative; 
}

#explanation_step_1,
#explanation_step_2,
#explanation_step_3 {
	width: 100%; /* 280px */
	margin: 1em auto;
	position: static;
	height: auto;
	display: none;
	position: relative;
	z-index: 999999999;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	
}
.explain #explanation_step_1,
.explain #explanation_step_2,
.explain #explanation_step_3 {
	display: block;
}
#scout_overlay {
	display: none !important;
}

#solutionscout.explain #solution-result-wrapper li.explanation-highlight .wrapper, .explain #solution-result-wrapper #filters-and-results {
	z-index: 99999997;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #ffffff;
} 
.explanation {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

/**
* 30-09-2014 hotfix
**/

#home #teaser-1 li > a {
  display: none;
}
#home #teaser-1 li p {
  clear: both;
}
#logo a img {
  width: 100%;
}


#search-box form {
	width: 100%;
}
.share.share-container {
	position: static;
	margin-top: 5px;
}



#single-col #section-header .anchor {
    background: transparent url("../img/rosen/side-bar-bg-wide.png") no-repeat scroll 0 -1px;
    bottom: auto;
    float: left;
    height: 52px;
    margin: 10px 0;
    padding: 0 20px;
    position: relative;
    right: auto;
    width: 285px;
}
#single-col .page-header h1,
#single-col .page-header .item-sidebar-sep {
	margin: 0;
}
#single-col .page-header {
	height: auto;
}
#single-col #platform .list {
	margin: 0;
}

#single-col #wrapper-3,
#single-col #main {
	width: auto;
}
#single-col #platform .list {
	width: auto;
}
#single-col #wrapper-3 #main .text-section {
	width: 100%;
	margin: 0;
}
#single-col #wrapper-3 #main .text-section .media.photo {
	margin: 0;
	width: 100%;	
}
#single-col #wrapper-3 #main .text-section .media.pos-2 {
	margin: 0;
	width: 100%;
}
#single-col .form-wrapper fieldset fieldset input {
	display: inline;
	width: auto;
}
#single-col .form-wrapper fieldset fieldset div.form-item label {
	display: inline;
	padding-left: 10px;
	width: auto;
}

#single-col #base {
	margin: 0;
	width: auto;
}
#single-col .base.text-section {
	width: auto;
}
