* {
	max-width: 670px !important;
}

#stage,
#search-box,
#nav-global,
#extras,
#promos,
#site-info,
#item-sidebar,
#solution-scout-wrapper,
#event-pager,
.pager,
.solution-page-type,
.mgnlEditorButton { 
	display: none;	
}
.page-header {
	position: relative !important;
	height: 100px;
}
#logo, #logo span, #branding-box {
	position: absolute !important;
	right: 0 !important; 
}
#branding {
	padding: 0 !important;
	margin-top: 0 !important;
}
#home #branding {
	background: url(../img/bgs/dotted-line.png) bottom repeat-x;
}

#wrapper-2, #main {
	width: 670px !important;
}
#wrapper-2 > *, #main > * {
	margin-left: auto !important;	
	margin-right: auto !important;	
}
#breadcrumb li {
	margin: 0 6px 0 0 !important;
}


.imageslider-wrapper, .imageslider-wrapper * {
	max-width: none !important;
}
/*
img.media.photo.large, .imageslider-image, .imageslider-image img {
	clear: both !important;
	float: none !important;
	width: 100% !important;
	height: auto !important;
}
.imageslider {
	position: static;
	margin: 0 !important;
}*/

.imageslider-image {
	float: left !important;
}
.highlight-this {
	background: #fefeff !important;
}

.text-section {
}